/PCB_project/Jewel_ESP32/__Previews
/PCB_project/Jewel_ESP32/History
/PCB_project/Jewel_ESP32/Project Logs for Jewel_ESP32
/PCB_project/Logic_SOM/__Previews
/PCB_project/Logic_SOM/History
/PCB_project/Logic_SOM/Project Logs for Jewel_ESP32
/PCB_project/Logic_SOM/Project Logs for Logic_SOM
